doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/weather-icons.css')
        link(rel='stylesheet', href='/stylesheets/weather-icons.min.css')
        link(rel='stylesheet', href='/stylesheets/weather-icons-wind.css')
        link(rel='stylesheet', href='/stylesheets/weather-icons-wind.min.css')
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js')

    body
        nav.navbar.navbar-expand-sm.bg-success.navbar-dark.navbar-expand-sm.fixed-top
            div.container-fluid
                ul.nav.navbar-nav
                    li.nav-item
                        a.navbar-brand(href='#') METEO SERVER
                    li.nav-item
                        a.nav-link(href='/') Home
                    li.nav-item
                        a.nav-link(href='/history') History
                    li.nav-item
                        a.nav-link(href='/config/configuration') Configurazione
                ul.nav.navbar-nav.navbar-right
                    if logged_user
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle.active(href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")=logged_user.Name
                            div.dropdown-menu(aria-labelledby="navbarDropdown")
                                a.dropdown-item(href='/config/configuration') Opzioni
                                div.dropdown-divider
                                a.dropdown-item(href='/logout') Logout
                    else
                        li
                            a.nav-link.active(href="/login")
                                span.glyphicon.glyphicon-log-in Login
        div.padding-base
            if message
                if message.info
                    each mes in message.info
                        div.col-4.offset-4.alert.alert-primary.padding-base=mes

                if message.error
                    each mes in message.error
                        div.col-4.offset-4.alert.alert-primary.padding-base=mes

            block content

