.padding-base {
    padding: 40px;
    padding-bottom: 0;
}

a {
    color: #00B7FF;
}

.form-margin {
    margin-left: 10px;
    margin-right: 10px
}

.padding-bottom {
    padding-bottom: 40px;
}

.little-padding-bottom {
    padding-bottom: 20px;
}

.margin-top {
    margin-top: 40px;
}

.little-margin-top {
    margin-top: 20px;
}

.font-size {
    font-size: 100%;
}

i {
    margin-right: 10px;
}

nav {
    height: 7vh;
}